body {margin: 0;}
body#home{background-color: #00edff20}
img, svg {width: 100%;}
#login {
	width: 30%;
	float: left;
	margin: 10% 35%;
	background-color: #80c1c3;
	padding: 2%;
	text-align: center;
	box-shadow: 5px 5px 10px #c3b480;
}
#init {
	margin-bottom: 6%;
	color: white;
}
p {
	margin: 0;
}
.input {
	border: none;
	border-bottom: 2px solid #0000ff;
	background-color: inherit;
}
input[type="submit"] {
	margin-top: 6%;
}
main {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	box-shadow: inset 2px 0px 15px #00000060;
}

.element {	
	width: 11%;	
	margin: 2% 2%;
	display: inline-block;
	text-align: center;
	float: left;
	font-size: 10pt;
}

.element svg, .element img {
	width: 50%;
}
.folderIcon:hover{
	background-color: #00edff20;
}
.folderIcon:hover, .option:hover, #exit:hover {
	cursor: pointer;
}
/*#home form{display: none;}*/


header {
	width: 80%;
	margin: 0 auto;
	height: 200px;
	background-color: #00C9CE;
	margin-top: 2%
}

.option {
	width: 6%;
	float: left;
	margin: 0.5% 9%;
	background-color: #ffffff;
	border-radius: 15px;
}
.line{
	stroke: #00C9CE;
	stroke-width: 5;
	fill:none;
}
 #exit{
 	width: 4%;
 	position: fixed;
 	right: 1%;
 	top: 1%;
 }
 #exit:hover svg {
 	background-color: #00C9CE; 	
 }
 #exit:hover .line {
 	stroke: white; 	
 }
 #upLevel{
 	width: 96%;
 	display: block;
 	border-bottom: 4px solid #00C9CE;
 	padding-bottom: 0.5%;
 }

#upLevel * {
	float: left;
}
#path{
	color: #00C9CE;
	font-family: sans-serif;
	font-size: 24pt;
}


 #upLevel .folderIcon{
 	width: 5%;
 }