
body {margin: 0; overflow: hidden;}
*{font-family: sans-serif;}
body#index{width: 300%;}
body#home{background-color: var(--firstColor)}
img, svg {width: 100%;}


#user{
	width: 5%;
	padding: 2%;
}


#index section{
	width: 33.3%;
}

#index section:nth-child(2n+1){
	background-color: var(--firstColor);
}

.forms .links{
	float: left;
	color: #ffffff;
	margin-top: 5%;
	width: 33%;
	font-size: 10pt;
	cursor: pointer;
}

.forms .links:hover{
	text-decoration: underline;
}
.error{margin-top: 2%;}

.clear{clear: both; display: block;}
.forms, article {
	width: 30%;
	float: left;
	margin: 10% 33%;
	background-color: var(--thirdColor);
	padding: 2%;
	text-align: center;
	box-shadow: 5px 5px 10px #c3b480;
}
.init {
	margin-bottom: 6%;
	color: white;
}
p {
	margin: 0;
	margin-top: 20px;
}
.input {
	border: none;
	border-bottom: 2px solid #0000ff;
	background-color: inherit;
}
input[type="submit"] {
	margin-top: 6%;
}
main {
	width: 80vw;
	height: 70vh;
	margin: 0 auto;
	background-color: white;
	box-shadow: inset 2px 0px 15px #00000060;
}

.element {	
	width: 11%;	
	margin: 2% 2%;
	display: inline-block;
	text-align: center;
	float: left;
	font-size: 10pt;
}

.element svg, .element img {
	width: 50%;
}
.folderIcon:hover{
	background-color: var(--firstColor)
}
.folderIcon, .option, #exit, #settingMenu li, #ancla, .liftbutton {
	cursor: pointer;
}

#home form{display: none;}


header {
	width: 80vw;
	height: 6vw;
	margin: 0 auto;
	background-color: var(--secondColor);
	margin-top: 2%
}

.option {
	width: 6%;
	float: left;
	margin: 0.5% 9%;
	background-color: #ffffff;
	border-radius: 15px;
}
.option:hover .line{
	fill: var(--secondColor);
	stroke: #fff;
}



.line, .subline{
	stroke: var(--secondColor);
	stroke-width: 5;
	fill:none;
}
.subline {
	fill: var(--secondColor);
	stroke: none;
}

#settingMenu {
	position: absolute;
	left: 50%;
	width: 20%;
	background-color: var(--secondColor);
	box-shadow: 10px 10px 20px #00000050;
}


#settingMenu nav li:hover {
	color: var(--secondColor);
	background-color: #ffffff;
	border-color: var(--secondColor);

}
#settingMenu nav li {
	text-align: right;
	list-style-type: none;
	color: white;
	padding: 2%;
	border: 2.5px solid;
	border-left: 0px solid;
	border-right: 0px solid;
}

.button, #lift{
 	width: 4%;
 	position: fixed;
 	right: 1%;
 }
#exit{
 	top: 1%;
}
#ancla {
	bottom: 1%;
	opacity: 0;
}

#lift{
	float: left;
	width:14%;
	bottom: 2%;
	right: 5%;
	opacity: 0;
}

.liftButton{
	float: right;
	border: 3px solid var(--secondColor);
	color: var(--secondColor);
    width:2vw; /* 20% of the viewport width */
    height: 2vw;
	text-align: center;
	border-radius: 50%;
	margin: 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.liftButton:hover {
	color: #ffffff;
	border-color: #ffffff;
	background-color: var(--secondColor);

}

.button:hover  circle {
 	fill: var(--secondColor); 	
 }


.button:hover .line {
 	stroke: white; 	
 }
 #upLevel{
 	width: 96%;
 	display: block;
 	border-bottom: 4px solid var(--secondColor);
 	padding-bottom: 0.5%;
 }

#upLevel * {
	float: left;
}
#path{
	color: var(--secondColor);
	font-family: sans-serif;
	font-size: 24pt;
}


 #upLevel .folderIcon{
 	width: 5%;
 }
 #forms {
 	margin-top: 5%;
 	width: 100%;
 	float: left;
 }
 #forms form{display: block;}

section, #section {
	float: left;
	width: 100%;
	height: 100vh;
}
section:nth-child(2n+1) {
 	background-color: #ffffff;
 }
 .tittle {
 	float: left;
 	color: var(--thirdColor);
 	text-align: center;
 	margin-top: 5%;
 	width: 100%;

 }

 article {
 	width: 20%;
 	float: left;
 	margin: 0 4.6%;

 }

 .muestras {
 	width: 80%;
 	margin: auto;
 	background-color: #ffffff;
 	padding: 2%;
 	float: left;
 	margin: 0 9%
 }

 .colors {
 	float: left;
 	width: 50px;
 	height: 50px;
 	margin: 0 4.6%;
 	background-color: red;

 }
 h2{
 	color: #ffffff;
 }

.default circle:nth-child(1){
	fill:#00C9CE;
}

.default circle:nth-child(2){
	fill:#DFFCFF;
}

.default circle:nth-child(3){
	fill:#80c1c3;
}

.earth circle:nth-child(1){
	fill:#f2db82;
}

.earth circle:nth-child(2){
	fill:#f2eaca;
}

.earth circle:nth-child(3){
	fill:#c67a09;
}

.green circle:nth-child(1){
	fill:#82f297;
}

.green circle:nth-child(2){
	fill:#bef9d8;
}

.green circle:nth-child(3){
	fill:#48b486;
}