/.gitignore
SERVIDOR/server/php/tmp.py
SERVIDOR/server/php/class_copy.php
/demo
/SERVIDOR/server/img/img.7z
/SERVIDOR/server/php/ftp.php
/SERVIDOR/download
/SERVIDOR/server/php/mail/*
/TRABAJOS
/tar.7z