
order deny,allow

deny from all

#allow from localhost
#allow from 127.0.0.1
#allow from 192.168.1.
#allow from 213.37.158.14




#<FilesMatch ".*\.\w*$">
#allow from all
#</FilesMatch>

<FilesMatch "(.html|.js|.php|)">
	allow from all
</FilesMatch>

#RedirectMatch 403 ^/trabajos/.*$








